.body-main{
    background-color: #FFFFFF;
}
/* header-start */
.header{
    height: 65px;
    margin: 53px auto 136px auto;    
}
.header-main-div{
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 53px;
    left: 350px;
    z-index: 1000;
}
.logo-div{
    width: 200px;
}
.navigation{
    width: 825px;
    margin-left: 195px;
    display: flex;
    align-items: center;
}
.nav-list{
    width: 601px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li-item-nav{
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #37393F;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
.arrow{
    width: 10px;
    height: 5px;
    color: #37393F;
    transition: all 0.5s linear;
}
.arrow:hover{
    color: green;
    transform: scale(2, 2);
}
.visual{
    transition: all 0.5s linear;
}
.visual:hover{
    color: green;
    /* transform: rotateX(180deg);
    transform: rotateY(180deg); */
    transform: rotateZ(360deg);
}
.nav-button{
    width: 184px;
    margin-left: 40px;
    background-color: #6B77E5;
    text-align: center;
}
.consult{
    font-family: 'Cabin';
    font-weight: 600;
    font-size: 18px;
    line-height: 21.87px;
    color: #FFFFFF;
}
/* section1-start */
.section1{
    width: 1220px;
    margin: auto;
}
.section1-div1{
    width: 283px;
    margin: 0 auto 41px auto;
    text-align: center;
}
.section1-div1-h2{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
    line-height: 21.78px;
    color: #37393F;
}
.section1-div1-h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 48.4px;
    color: #37393F;
    font-family: 'Poppins';
}
.section1-container{
    width: 1220px;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 386px;
    height: 383px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
}
.box-content{
    width: 300px;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-title{
    width: 245px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 31.75px;
    color: #37393F;
    font-family: 'Poppins';
}
.box-p{
    width: 300px;
    margin-top: 16px;
    margin-bottom: 37px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.box-h4{
    width: 111px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.box-icon{
    width: 72px;
    height: 72px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40DDB6;
    border-radius: 50px;
}
.box-icon2{
    width: 72px;
    height: 72px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B77E5;
    border-radius: 50px;
}
/* section2-start */
.section2{
   margin:60px auto 130px auto;
   position: relative;
}
.section2-div{
    display: inline-block;
}
.section2-image{
    width: 100%;
    height: 100%;
}
.section2-div-container{
    width: 511px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.presentation-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.pres-block-h2{
    width: 102px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: #37393F;
    font-family: 'Inter', sans-serif;
}
.pres-block-h3{
    margin-top: 16px;
    width: 349px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 48.4px;
    color: #37393F;
    font-size: 30px;
}
.press-p{
    margin-top: 26px;
    width: 511px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 26.31px;
    color: #37393F;
}
.play-button{
    width: 64.5px;
    height: 64.5px;
    margin-top: 47px;
    background-color: #6B77E5;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s linear 1s;
}
.play-button:hover{
    color: black;
    scale: (2,2); 
      /*არ რეაგირებს  */
}
/* section3-start */
.section3{
    width: 1220px;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.section3-div{
    width: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
}
.section3-div-h2{
    width: 84px;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 21.78px;
    color: #37393F;
    margin-bottom: 16px;
}
.section3-div-h3{
    width: 348px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 48.4px;
    color: #37393F;
}
.team-experts{
    width: 1220px;
    height: 532px;
    display: flex;
    justify-content: space-between;
}
.expert-block{
    width: 386px;
    height: 532px;
    position: relative;
}
.expert-pic{
    display: inline-block;
}
.expert-info{
    width: 341px;
    height: 114px;
    position: absolute;
    left: 22px;
    bottom: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: all 0.7s linear;
}
.expert-info:hover{
    background-color: skyblue;
    transform: scale(1.1,1.1);
}
.expert-name{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    color: #37393F;
}
.expert-position{
    margin-top: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.33px;
    color: #7D7D7D;
    font-family: 'Inter', sans-serif;
}